/*general*/
*{
margin:0;
padding:0;
}

/*body*/
body{
	/*short-cut order for font is font-style, font-variant, font-weight, font-size/line-height font-family(ies).  Must have minimum of font-size/line-height*/
	font:100%/1.5 sans-serif;
	background: #FFF8F0;
}

/*wrapper*/
#wrapper{
/*width:1024px;*/
margin: 0 auto;	
}

/*header*/
header{
	/*background short-cut in order - color, url link to image, repeat, position*/
	background: #5E548E; /*Purple Navy*/
	border-bottom: 10px solid black;
	height: 140px;
}
header img{
	height:100%;
}
header h1{
	display: inline;
	color: darkgray;
	font-family: 'Julius Sans One', sans-serif;
	padding: 0 0 0 10px;
}
/*navigation*/
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #111;
}
/*h2-h6*/
h2{
	margin: 15px auto;
}
/*main*/
main{
	
	display:inline;
	width: 100%;
	float:left;
}
/*Form Base*/
form{
	display:block;
	padding: 10px;
	width: 25%;
	margin: 10px auto;
	background: #9F86C0;
	border: solid #333 5px;
}
form img{
	width: 200px;
	height: 200px;
	margin: 10px auto;
	display: block;
}

form h1{
	text-align: center;
	margin: 0 auto;
}
div.center {
	text-align:center;
}
form label{
	text-align:center;
	width: 80px;
	height: 20px;
	/*margin: 4px;*/
	float:left;
}

form input{
	width: 80px;
	height: 20px;
	margin: 4px;
}


form input[type=text]{
	background: #fff;
	padding: 2px;
	border: 1px solid black;
}
/*Homepage*/
div#homepageContainer{
	width:100%;
	height:700px;
}
div#homepageContainer img {
	display: block;
	height: 25%;
	margin: 0, auto;
}
div#homepageContainer h2{
	
}
div#homepageContainer h2 img{
	
}
/*login page*/
form.login{
	width:220px;	
}



/*Register Page*/
main div#register{
	width: 100%
	margin: auto;
}
main div#register h1{
	text-align: center;
	margin-bottom: 40px;
}
main div#register img{
	width:200px;
	height:200px;
	margin: 40px auto auto 100px;
	float:right;
	
}
form.register{
	width:400px;
	margin-left: 60px;
	float:left;
	
}
form.register input,form.register label{
	width:160px;
}
form.register input[type=submit]{
	width:336px;
	height:40px;
	margin: 20px;
}



/*Dashboard Page*/
div#roomContainer{
	
}
div.roomCard{
	border: solid black 5px;
	border-radius: 30px;
	background: #5E548E; /*Purple Navy*/
	border: solid #9F86C0 2px; /*lavander*/
	margin: 10px;
	padding: 15px;
	float: left;
}
div.roomCard h3{
	float: left;
}
div.roomCard button{
	margin: 0 0 0 10px;
	background-color: #9F86C0;
	padding: 2px;
	font-size: 20px;
	clear: both;
}

/*Question Screen*/
main#game{
	background:#eee;
}
div.GameScore{
	diplay:block;
	width:100%;
	background:#fff;
}
div.GameScore span{
	padding: 6px;
	font-size: 16px;
}
form#question{
	display:block;
	width:100%;
	background:#fff;
	/*background:red;*/ /*- color for debugging*/
}
form#question input{
	width:24%;
	height: 40px;
	background:#eef;
	color:black;
	padding:4px;
	font-size:14px;
	border:none;
	margin: 10px 2px ;

}
div.player{
	width: 18%;
	height: 22%;
	margin: 1em;
	float:left;
}
div.player img{
	width: 160px;
	height: 160px;
	padding: 10px;

}
div.player label{
	margin: 2px;
	font-size: 14px;
}
/*Cat Container*/
div#catCardContainer{
	overflow: auto;
	margin: 0 10px 0 10px;
}
/*Cat Card*/
div.catCard{
	border-radius: 30px;
	background: #5E548E; /*Purple Navy*/
	border: solid #9F86C0 2px;
	height: 300px;
	width: 232px;
	float: left;
}
div.catCard img{
	display:block;
	width: 75%;
	height: 75%;
	margin: 10px auto;
}
div.catCard label{
	display: block;
	text-align:center;
}

/*Question Container*/
div#questionContainer{
	clear: both;
	margin: 10px 10px 0 10px;
	border-radius: 30px;
	background: #5E548E; /*Purple Navy*/
	border: solid #9F86C0 2px; /*lavander*/
}
div#questionContainer button{
	background-color: #9F86C0;
	border-radius: 15px;
	font-size: 20px;
	padding: 6px;
	margin: 10px auto;
    display: block;
}
div#questionContainer h2{
	text-align: center;
}
div#answers{
	background: #9F86C0;
	border: solid #9F86C0 5px;
	width: 75%;
	margin: 0 auto;
	border-radius: 30px;
	padding: 15px;
}



/*Shop page*/
div#shopContainer{
	height:300px;
	text-align:center;
}
div#shopContainer div.left {
	height:100%;
    float:left;
    width:33%;
}

div#shopContainer div.center {
    display: inline-block;
    margin:0 auto;
    height:100%;
    width:33%;
}
div#shopContainer div.center img{
	height:100%;
}
div#shopContainer div.right {
	height:100%;
    float:right;
    width:33%;
}
div.right button, div.left button{
	height: 100%;
	width: 100%;
	display: block;
}
